@font-face {
    font-family: 'PokemonHollow';
    src: url('./assets/fonts/pokemon_hollow.ttf') format('truetype');
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: 'PokemonHollow', Arial, Helvetica, sans-serif;
}


/* Search box */
#search-box {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 10px;
}
#error-container {
    margin-bottom: 20px; /* Adjust the margin as needed */
    height: 20px;
}
#error-message {
    color: red;
    display: block; 
}
.container {
    display: flex; 
    width: 90%;
    margin: 0 auto;
}

.red-heart {
    color: red;
    font-size: 1.2em;
}

#favorites-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
    border: 10px solid grey;
    background-color: white;
    padding: 10px; 
    box-sizing: border-box; /* border-box includes padding in size */
}

#favorites-list {
    width: 80%;
    height: auto; 
    padding: 0;
    margin: 0;
}

#content {
    display: flex;
    width: 50%;
    height: 500px;
    border: 10px solid grey;
    background-color: red;
    background-size: cover;
    padding: 10px;
    box-sizing: border-box; 
}

#poke-info {
    width: 50%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

#poke-list {
    width: 50%;
    font-size: 14px;
    overflow-y: auto;
    box-sizing: border-box; 
}

.poke-name {
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    cursor: pointer; 
}

.poke-name:hover {
    transform: scale(1.1);
}

#poke-info img {
    width: auto;
    height: 160px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: grey;
}

#poke-description {
    width: 100%;
    height: 40%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 18px;
    overflow-y: scroll;
    box-sizing: border-box; 
}

/* Heart icon */
.heart {
    cursor: pointer;
    margin-left: 5px;
    
  }
  
/* Pokemon types */
#poke-types {
    margin-top: 10px;
}

.type {
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: purple;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: burlywood;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: teal;
    color: white;
}

.poison {
    background-color: darkviolet;
    color: white;
}